# Database

#MYSQL_RANDOM_ROOT_PASSWORD=1
#MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=NC
MYSQL_USER=nextcloud
#MYSQL_PASSWORD=
MYSQL_HOST=NCDatabase

# Nextcloud

LETSENCRYPT_HOST=nextcloud.domain.com
VIRTUAL_HOST=nextcloud.domain.com

#TRUSTED_PROXIES=
OVERWRITEPROTOCOL=https

#SMTP_HOST=
#SMTP_PORT=
#SMTP_NAME=
#SMTP_PASSWORD=
#MAIL_FROM_ADDRESS=

NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.domain.com
#NEXTCLOUD_ADMIN_USER=
#NEXTCLOUD_ADMIN_PASSWORD=


